<!DOCTYPE html>
<html>
<head>
  <%- head.title.toString() %>
  <%- head.meta.toString() %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.12/c3.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
  <div id="app"><%- content %></div>
  <div id='devtools'></div>
  <script src="/assets/bundle.js"></script>
  <script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
</body>
</html>
